[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers.git
	tag = v24.3.25
	shallow = true
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
	tag = v2.11.1
	shallow = true
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
	tag = v1.15.0
	shallow = true
